<div>
        <h2><%= @reader.username %></h2>
        <%= @reader.first_name %>  <%= @reader.last_name %><br><br>
        <%= @reader.favorite_genre %><br><br>
        <%= @reader.favorite_book%><br>
       
        
    </div>
