

    <div>
        <h2><%= @book.title %></h2>
        <%= @book.author %><br><br>
        <%= @book.publisher %><br><br>
        <%= @book.description %><br><br>
        Pages: <%= @book.pages %><br> 
        
    </div>

